<div class="container col-8 shadow-lg p-3 mb-5 bg-body rounded">
    <h3 class="d-flex justify-content-center">Ligas</h3>
    <form [formGroup]="form" (submit)="(insertarJugador())">
        <div class="mb-3 mt-3">
          <label for="email" class="form-label">Nombre:</label>
          <input type="text" class="form-control" id="email" 
          placeholder="Escribe el nombre" formControlName="nombre" >
        </div>
          <div class="mb-3 mt-3">
            <label for="email" class="form-label">Apellido Paterno:</label>
            <input type="text" class="form-control" id="email" 
            placeholder="Escribe el nombre" formControlName="ap_paterno" >
        </div>
        <div class="mb-3 mt-3">
            <label for="email" class="form-label">Apellido Materno:</label>
            <input type="text" class="form-control" id="email" 
            placeholder="Escribe el nombre" formControlName="ap_materno" >
        </div>
        <div class="mb-3 mt-3">
            <label for="email" class="form-label">Edad:</label>
            <input type="number" class="form-control" id="email" 
            placeholder="Escribe el nombre" formControlName="edad" >
        </div>
        <div class="mb-3">
            <label for="pwd" class="form-label">Equipo:</label>
            <select class="form-select" aria-label="multiple select example" formControlName="equipo">
              <option value="" disabled>Seleccione un opcion</option>
              <option  *ngFor="let equipo of EQUIPOS" value="{{ equipo.id }}">{{ equipo.nombre }}</option>
            </select>
          </div>
        <div class="mb-3">
          <label for="pwd" class="form-label">Pais:</label>
          <select class="form-select" aria-label="multiple select example" formControlName="pais">
            <option value="" disabled>Seleccione un opcion</option>
            <option  *ngFor="let pais of PAISES" value="{{ pais.id }}">{{ pais.nombre }}</option>
          </select>
        </div><br>
        <button [disabled]="form.get('nombre')?.errors?.['required'] || form.get('pais')?.errors?.['required']
                            || form.get('ap_paterno')?.errors?.['required'] || form.get('ap_materno')?.errors?.['required']
                            || form.get('edad')?.errors?.['required'] || form.get('equipo')?.errors?.['required']" 
                            type="submit" class="btn btn-primary">Guardar</button>
      </form>
</div>