<app-navegacion></app-navegacion>
<div class="container">
    <h1 class="text-center">Tabla Alumnos</h1>
    <table class="table table-striped align-middle table-hover">
        <thead class="table-dark text-center">
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Correo</th>
                <th>Cuatrimestre</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let alumno of ALUMNOS">
                <td>{{alumno.id}}</td>
                <td>{{alumno.nombre}}</td>
                <td>{{alumno.ap_paterno}} {{alumno.ap_materno}}</td>
                <td>{{alumno.correo}}</td>
                <td>{{alumno.cuatri_id}}</td>
                <td *ngIf="this.autenticado"><a routerLink="./actualizar/{{alumno.id}}" class="btn btn-outline-warning me-3">Modificar</a> 
                    <button (click)="eliminarAlumno(alumno.id)" class="btn btn-outline-danger">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
    <button *ngIf="usuario || autenticado" routerLink="./agregar" class="btn btn-outline-success">Agregar Alumno</button>
</div>
