<app-navegacion></app-navegacion>
<div class="container col-8 shadow-lg p-3 mb-5 bg-body rounded">
  <h3 class="d-flex justify-content-center">Formulario Pais</h3>
  <form [formGroup]="form" (submit)="insertarPais()">
    <div class="mb-3 mt-3">
      <label class="form-label">Nombre del pais:</label>
      <input type="text" class="form-control" 
      placeholder="Escribe el nombre" formControlName="nombre" >
    </div>
    <p *ngIf="form.get('nombre')?.errors?.['serverError']">{{ form.get('nombre')?.errors?.['serverError'] }}</p>
    <button [disabled]="form.get('nombre')?.errors?.['required']" type="submit" class="btn btn-primary">Guardar</button>
  </form>
</div>