<div class="parent">
    <div class="div1">  </div>
    <div class="div2">A</div>
    <div class="div3">B</div>
    <div class="div4">C</div>
    <div class="div5">D</div>
    <div class="div6">E</div>
    <div class="div7">F</div>
    <div class="div8">G</div>
    <div class="div9">H</div>
    <div class="div10">1</div>
    <div class="div11" ><button value="A1" id="A1T2">
      <img id="A1img" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Deseret_capital_long_O.svg" alt="o"></button></div>
    <div class="div12" ><button value="B1" id="B1T2"><img id="B1img" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Deseret_capital_long_O.svg" alt="o"></button></div>
    <div class="div13" ><button value="C1" id="C1T2"><img id="C1img" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Deseret_capital_long_O.svg" alt="o"></button></div>
    <div class="div14" ><button value="D1" id="D1T2"><img id="D1img" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Deseret_capital_long_O.svg" alt="o"></button></div>
    <div class="div15" ><button value="E1" id="E1T2"><img id="E1img" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Deseret_capital_long_O.svg" alt="o"></button></div>
    <div class="div16" ><button value="F1" id="F1T2"><img id="F1img" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Deseret_capital_long_O.svg" alt="o"></button></div>
    <div class="div17" ><button value="G1" id="G1T2"><img id="G1img" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Deseret_capital_long_O.svg" alt="o"></button></div>
    <div class="div18" ><button value="H1" id="H1T2"><img id="H1img" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Deseret_capital_long_O.svg" alt="o"></button></div>
    <div class="div19">2 </div>
    <div class="div20" ><button value="A2" id="A2T2"><img id="A2img" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Deseret_capital_long_O.svg" alt="o"></button></div>
    <div class="div21" ><button value="B2" id="B2T2"><img id="B2img" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Deseret_capital_long_O.svg" alt="o"></button></div>
    <div class="div22" ><button value="C2" id="C2T2"><img id="C2img" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Deseret_capital_long_O.svg" alt="o"></button></div>
    <div class="div23" ><button value="D2" id="D2T2"><img id="D2img" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Deseret_capital_long_O.svg" alt="o"></button></div>
    <div class="div24" ><button value="E2" id="E2T2"><img id="E2img" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Deseret_capital_long_O.svg" alt="o"></button></div>
    <div class="div25" ><button value="F2" id="F2T2"><img id="F2img" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Deseret_capital_long_O.svg" alt="o"></button></div>
    <div class="div26" ><button value="G2" id="G2T2"><img id="G2img" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Deseret_capital_long_O.svg" alt="o"></button></div>
    <div class="div27" ><button value="H2" id="H2T2"><img id="H2img" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Deseret_capital_long_O.svg" alt="o"></button></div>
    <div class="div28">3 </div>
    <div class="div29" ><button value="A3" id="A3T2"><img id="A3img" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Deseret_capital_long_O.svg" alt="o"></button></div>
    <div class="div30" ><button value="B3" id="B3T2"><img id="B3img" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Deseret_capital_long_O.svg" alt="o"></button></div>
    <div class="div31" ><button value="C3" id="C3T2"><img id="C3img" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Deseret_capital_long_O.svg" alt="o"></button></div>
    <div class="div32" ><button value="D3" id="D3T2"><img id="D3img" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Deseret_capital_long_O.svg" alt="o"></button></div>
    <div class="div33" ><button value="E3" id="E3T2"><img id="E3img" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Deseret_capital_long_O.svg" alt="o"></button></div>
    <div class="div34" ><button value="F3" id="F3T2"><img id="F3img" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Deseret_capital_long_O.svg" alt="o"></button></div>
    <div class="div35" ><button value="G3" id="G3T2"><img id="G3img" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Deseret_capital_long_O.svg" alt="o"></button></div>
    <div class="div36" ><button value="H3" id="H3T2"><img id="H3img" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Deseret_capital_long_O.svg" alt="o"></button></div>
    <div class="div37">4 </div>
    <div class="div38" ><button value="A4" id="A4T2"><img id="A4img" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Deseret_capital_long_O.svg" alt="o"></button></div>
    <div class="div39" ><button value="B4" id="B4T2"><img id="B4img" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Deseret_capital_long_O.svg" alt="o"></button></div>
    <div class="div40" ><button value="C4" id="C4T2"><img id="C4img" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Deseret_capital_long_O.svg" alt="o"></button></div>
    <div class="div41" ><button value="D4" id="D4T2"><img id="D4img" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Deseret_capital_long_O.svg" alt="o"></button></div>
    <div class="div42" ><button value="E4" id="E4T2"><img id="E4img" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Deseret_capital_long_O.svg" alt="o"></button></div>
    <div class="div43" ><button value="F4" id="F4T2"><img id="F4img" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Deseret_capital_long_O.svg" alt="o"></button></div>
    <div class="div44" ><button value="G4" id="G4T2"><img id="G4img" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Deseret_capital_long_O.svg" alt="o"></button></div>
    <div class="div45" ><button value="H4" id="H4T2"><img id="H4img" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Deseret_capital_long_O.svg" alt="o"></button></div>
    <div class="div46">5</div>
    <div class="div47" ><button value="A5" id="A5T2"><img id="A5img" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Deseret_capital_long_O.svg" alt="o"></button></div>
    <div class="div48" ><button value="B5" id="B5T2"><img id="B5img" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Deseret_capital_long_O.svg" alt="o"></button></div>
    <div class="div49" ><button value="C5" id="C5T2"><img id="C5img" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Deseret_capital_long_O.svg" alt="o"></button></div>
    <div class="div50" ><button value="D5" id="D5T2"><img id="D5img" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Deseret_capital_long_O.svg" alt="o"></button></div>
    <div class="div51" ><button value="E5" id="E5T2"><img id="E5img" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Deseret_capital_long_O.svg" alt="o"></button></div>
    <div class="div52" ><button value="F5" id="F5T2"><img id="F5img" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Deseret_capital_long_O.svg" alt="o"></button></div>
    <div class="div53" ><button value="G5" id="G5T2"><img id="G5img" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Deseret_capital_long_O.svg" alt="o"></button></div>
    <div class="div54" ><button value="H5" id="H5T2"><img id="H5img" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Deseret_capital_long_O.svg" alt="o"></button></div>
    <div class="div55">6</div>
    <div class="div56" ><button value="A6" id="A6T2"><img id="A6img" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Deseret_capital_long_O.svg" alt="o"></button></div>
    <div class="div57" ><button value="B6" id="B6T2"><img id="B6img" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Deseret_capital_long_O.svg" alt="o"></button></div>
    <div class="div58" ><button value="C6" id="C6T2"><img id="C6img" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Deseret_capital_long_O.svg" alt="o"></button></div>
    <div class="div59" ><button value="D6" id="D6T2"><img id="D6img" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Deseret_capital_long_O.svg" alt="o"></button></div>
    <div class="div60" ><button value="E6" id="E6T2"><img id="E6img" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Deseret_capital_long_O.svg" alt="o"></button></div>
    <div class="div61" ><button value="F6" id="F6T2"><img id="F6img" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Deseret_capital_long_O.svg" alt="o"></button></div>
    <div class="div62" ><button value="G6" id="G6T2"><img id="G6img" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Deseret_capital_long_O.svg" alt="o"></button></div>
    <div class="div63" ><button value="H6" id="H6T2"><img id="H6img" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Deseret_capital_long_O.svg" alt="o"></button></div>
    <div class="div64">7</div>
    <div class="div65" ><button value="A7" id="A7T2"><img id="A7img" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Deseret_capital_long_O.svg" alt="o"></button></div>
    <div class="div66" ><button value="B7" id="B7T2"><img id="B7img" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Deseret_capital_long_O.svg" alt="o"></button></div>
    <div class="div67" ><button value="C7" id="C7T2"><img id="C7img" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Deseret_capital_long_O.svg" alt="o"></button></div>
    <div class="div68" ><button value="D7" id="D7T2"><img id="D7img" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Deseret_capital_long_O.svg" alt="o"></button></div>
    <div class="div69" ><button value="E7" id="E7T2"><img id="E7img" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Deseret_capital_long_O.svg" alt="o"></button></div>
    <div class="div70" ><button value="F7" id="F7T2"><img id="F7img" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Deseret_capital_long_O.svg" alt="o"></button></div>
    <div class="div71" ><button value="G7" id="G7T2"><img id="G7img" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Deseret_capital_long_O.svg" alt="o"></button></div>
    <div class="div72" ><button value="H7" id="H7T2"><img id="H7img" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Deseret_capital_long_O.svg" alt="o"></button></div>
    <div class="div73">8</div>
    <div class="div74" ><button value="A8" id="A8T2"><img id="A8img" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Deseret_capital_long_O.svg" alt="o"></button></div>
    <div class="div75" ><button value="B8" id="B8T2"><img id="B8img" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Deseret_capital_long_O.svg" alt="o"></button></div>
    <div class="div76" ><button value="C8" id="C8T2"><img id="C8img" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Deseret_capital_long_O.svg" alt="o"></button></div>
    <div class="div77" ><button value="D8" id="D8T2"><img id="D8img" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Deseret_capital_long_O.svg" alt="o"></button></div>
    <div class="div78" ><button value="E8" id="E8T2"><img id="E8img" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Deseret_capital_long_O.svg" alt="o"></button></div>
    <div class="div79" ><button value="F8" id="F8T2"><img id="F8img" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Deseret_capital_long_O.svg" alt="o"></button></div>
    <div class="div80" ><button value="G8" id="G8T2"><img id="G8img" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Deseret_capital_long_O.svg" alt="o"></button></div>
    <div class="div81" ><button value="H8" id="H8T2"><img id="H8img" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Deseret_capital_long_O.svg" alt="o"></button></div>
    </div>

