<app-navegacion></app-navegacion>
<div *ngIf="alert | async" class="alert alert-primary alert-dismissible fade show" role="alert">
  <strong>Alerta!</strong> Se ha echo una modiicacion
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="cerrarAlerta()"></button>
</div>
<table class="table">
    <thead>
      <tr>
        <th *ngFor="let columna of columnas">{{ columna.titulo }}</th>
        <th colspan="3">      
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a *ngIf="usuario || autenticado" class="btn btn-outline-secondary me-md-4 col-2" routerLink="/paises/formulario">
              <i class="bi bi-plus-square-fill"></i> Agregar
            </a>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pais of PAISES">
        <th>{{ pais.id }}</th>
        <td>{{ pais.nombre }}</td>
        <td *ngIf="this.autenticado"><button routerLink="/paises/formulario/{{ pais.id }}"><i class="bi bi-pencil-square"> Editar</i></button></td>
        <td *ngIf="this.autenticado"><button (click)="eliminarPais(pais.id)"><i class="bi bi-trash3-fill"> Eliminar</i></button></td>
      </tr>
    </tbody>
</table>