<div class="container">
    <h1 class="text-center mb-3">form Cuatrimestre</h1>
    <form [formGroup]="form" (submit)="(insertarCuatrimestre())">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="nombre" formControlName="num_cuatri">
            <label for="floatingInput">Numero de Cuatrimestre</label>
        </div>
        <div class="form-floating mb-3">
           <select formControlName="periodo" class="form-control">
            <option selected>seleciona un periodo</option>
            <option *ngFor="let p of opcionesPeriodo" value="{{p.valor}}">{{p.etiqueta}}</option>
           </select>
           <label for="floatingInput">Periodo</label>
        </div>
        <button type="submit" [disabled]="form.get('num_cuatri')?.errors?.['required'] || form.get('periodo')?.errors?.['required']" class="btn btn-outline-success">
            Guardar
        </button>
    </form>
</div>