
<div class="container">
    <h1 class="text-center mb-3">form Cuatri</h1>
    <form >
        <div class="form-floating mb-3">
            <input formControlName="num_cuatri" type="text" class="form-control" id="floatingInput" placeholder="nombre">
            <label for="floatingInput">Numero de Cuatri</label>
        </div>
        <div class="form-floating mb-3">
            <select formControlName="periodo" class="form-select" id="floatingSelect" aria-label="Floating label select example">
              <option selected>Seleccioner un Periodo</option>
              <option *ngFor="let p of opPeriodo" value="{{p.id}}">{{p.nombre}}</option>
            </select>
            <label for="floatingSelect">Periodo</label>
        </div>
        <button type="submit" class="btn btn-outline-success">Guardar</button>
    </form>
</div>
