
<div class="container">
    <h1 class="text-center mb-3">form Cuatri</h1>
    <form action="">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="nombre">
            <label for="floatingInput">Numero de Cuatri</label>
        </div>
        <div class="form-floating mb-3">
            <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
              <option selected>Seleccioner un Periodo</option>
              <option value="1">en-abr</option>
              <option value="2">my-agt</option>
              <option value="3">sept-dic</option>
            </select>
            <label for="floatingSelect">Periodo</label>
        </div>
        <button type="submit" class="btn btn-outline-success">Guardar</button>
    </form>
</div>
